* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}
/* Code */
body {
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90rem;
}
.wrapper {
	background-color: #eff3ff;
	width: 80rem;
	height: 60rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	color: #fff;
}
.wrapper__pink,
.wrapper__green {
	width: 25rem;
	height: 37rem;
	border-radius: 2rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.wrapper__green {
	background: linear-gradient(#d0f398, #a1eabf);
}
.wrapper__pink {
	background: linear-gradient(#fea0b9, #ffd8b9);
	margin-left: 5rem;
}
.green__btn {
	font-size: 8rem;
	display: flex;
	margin-top: -5rem;
	padding-left: 1rem;
	padding-bottom: 3rem;
}
.btn__dot {
	opacity: 0.5;
}
.btn__dot--active {
	opacity: 1;
}
.green__slide {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slide__check {
	font-weight: 100;
}
.slide__circle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	border-radius: 50%;
	border: 1rem solid #fff;
	width: 12rem;
	height: 12rem;
	background-color: #9eeea8;
}
.slide__infor {
	text-transform: capitalize;
	text-align: center;
	padding: 2rem 1rem;
}
.slide__title {
	font-size: 2rem;
}
.slide__about {
	padding: 1rem 1rem;
}
.slide__btns {
	padding: 2rem 1rem;
}
.slide__btn {
	color: #aaa8b8;
	background-color: #fff;
	border: none;
	border-radius: 10rem;
	padding: 1rem 3rem;
	font-size: 1.2rem;
	text-transform: capitalize;
	font-weight: 800;
}
.slide__btn--continue {
}
/* PINK BLOCK */
.slide__circle--pink {
	background-color: #fea3b9;
}
.slide__check--pink {
	padding-left: 1rem;
	font-size: 2.4rem;
	opacity: 0.8;
}
