* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
}

.wapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 600px;
}
.wapper__card {
	width: 10rem;
	height: 15rem;
	border-radius: 0.5rem;
	position: relative;
	transition: all 2s;
	transform-style: preserve-3d;
	animation: flip 3s linear infinite;
}

.card__face {
	width: 10rem;
	height: 15rem;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	backface-visibility: hidden;
}
.card__front {
	background-color: orange;
}
.card__back {
	background-color: gray;
	transform: rotateY(180deg);
}
@keyframes flip {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(180deg);
	}
}
